.service {
  box-shadow: var(--shadow);
  position: relative;
}
.service-image {
  overflow: hidden;
}
.service img {
  width: 100%;
  height: 250px;
  transition: var(--transition);
}
.service:hover img {
  transform: scale(1.5);
}
.service .price {
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  color: var(--primary-color);
  border: var(--border);
  padding: 8px 20px;
}
.service-title {
  margin-top: 30px;
}
.service-body {
  padding: 10px;
}
.service-body .btn {
  margin: 15px 0;
}
