.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
}
.footer p {
  color: var(--primary-color);
}
