.login-container,
.checked-container,
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}

.login,
.checked,
.registration {
  width: 577px;
  box-shadow: var(--shadow);
  padding: 40px;
  border-radius: 10px;
}
.login h2,
.checked h2,
.registration h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.registration input,
.checked input,
.login input {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: var(--primary-color);
  border: var(--border);
  border-radius: 10px;
}
.login-btn,
.checked-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.login-btn a,
.checked-btn a {
  color: var(--primary-color);
  font-weight: bold;
}
.login-btn .btn,
.checked-btn .btn {
  width: 35%;
  height: 45px;
}
.forgat-password {
  cursor: pointer;
  margin: 10px 0 20px;
}
.forgat-password:hover {
  color: var(--primary-color);
}
@media (max-width: 677px) {
  .login,
  .checked {
    width: 95%;
  }
  .login-btn .btn,
  .checked-btn .btn {
    width: 55%;
  }
}
