.about-container {
  min-height: 80vh;
}
.about {
  width: 1080px;
  margin: 100px auto;
  box-shadow: var(--shadow);
  display: flex;
  gap: 20px;
  position: relative;
}
.about-left {
  background-color: #b7c6d3;
  box-shadow: var(--shadow);
  transform: scale(1.1);
}
.about-left img {
  width: 300px;
  height: 300px;
  margin-bottom: -5px;
}
.about-title {
  background-color: var(--white-color);
  padding: 20px;
}
.about-right {
  padding: 30px;
}
.about-right p {
  font-size: 20px;
  margin-top: 20px;
}
@media (max-width: 920px) {
  .about {
    width: 90%;
  }
}
@media (max-width: 677px) {
  .about {
    width: 95%;
    margin: 50px auto;
    flex-direction: column;
  }
  .about-left {
    transform: scale(1);
    box-shadow: none;
    border-bottom: vr(--border);
  }
}
