.nav-menu {
  height: 80px;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  z-index: 999;
}
.nav-menu .nav-items {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 32px;
}
.nav-menu h1 {
  cursor: pointer;
}
.nav-items a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}
.nav-items .nav-item:hover a {
  color: var(--primary-color);
}
.nav-items .nav-item a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.logo {
  font-weight: 700;
  color: var(--primary-color);
}
.logo span {
  color: var(--secondary-color);
}
.menu-icon {
  display: none;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 677px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .nav-menu .nav-items {
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: var(--primary-color);
    width: 100%;
    left: 0;
    height: 89vh;
    align-items: center;
    padding: 30px 0;
    transition: var(--transition);
    z-index: 999;
  }
  .nav-items .nav-item:hover a {
    color: var(--white-color);
  }
  .nav-items .nav-item a.active {
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
  }
  .menu-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 35px;
    font-weight: bold;
    display: block;
  }
  .nav-items.menu-close {
    left: -100%;
  }
  .nav-menu .nav-items .btn {
    background-color: var(--white-color);
    color: var(--primary-color);
  }
}
