@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
}
body {
  font-family: "Karla", sans-serif;
}
:root {
  --primary-color: #42b7e2;
  --secondary-color: #323232;
  --white-color: #fff;
  --border: 1px solid var(--primary-color);
  --transition: all 0.5s ease;
  --shadow: 0 0 24px rgb(0, 0, 0, 0.2);
}
/* most uses style  */
h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.5;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}

.btn {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
  font-size: 18px;
  border-radius: 50px;
  padding: 8px 20px;
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--white-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.container {
  width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 920px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 677px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  .container {
    width: 95%;
  }
}
